<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ResourceId>/subscriptions/0e1e1f29-c26d-46b5-9164-499bf1a195e4/resourcegroups/myResourceGroup/providers/Microsoft.Web/sites/DockerCoreCalculatorWebService20200331092235</ResourceId>
    <ResourceGroup>myResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://dockercorecalculatorwebservice20200331092235.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ContainerResourceId>/subscriptions/0e1e1f29-c26d-46b5-9164-499bf1a195e4/resourcegroups/myResourceGroup/providers/Microsoft.ContainerRegistry/registries/registry20200331092238</ContainerResourceId>
    <ContainerResourceName>registry20200331092238</ContainerResourceName>
    <Subscription>Azure subscription Nag</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://registry20200331092238.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <PublishProvider>AppServiceLinux</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>43b45029-d687-4b2f-9a2f-e16de0453d16</ProjectGuid>
  </PropertyGroup>
</Project>